body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-title {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.right-buttons {
  display: flex;
  align-items: center;
}

.rounded-button {
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  text-align: center; /* Ajout de cette ligne */
}

.caption {
  margin-bottom: 10px;
}