css 
.navbar {
  background-color: #272626;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
body {
  font-family: Arial, sans-serif;
  background-color: #433F3F;
  margin: 0;
  padding: 20px;
}

.left-button {
  margin-right: auto;
}

.right-buttons {
  display: flex;
  gap: 10px;
}

.rounded-button {
  border: none;
  border-radius: 7px;
  padding: 8px 16px;
  background-color: #FFF;
  color: #FF6347;
  font-weight: bold;
  cursor: pointer;
  font-family: Arial, sans-serif;
}
    .post {
      text-align: center;
      margin: 20px auto;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      max-width: 500px;
    }

    .post img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .caption {
      margin-top: 10px;
      font-weight: bold;
    }

    footer {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    .btc-address {
      margin: 5px 0;
    }