/*Navbar*/
.navbar {
    background-color: #272626;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
body {
    font-family: Arial, sans-serif;
    background-color: #433F3F;
    margin: 0;
    padding: 20px;
}

.left-button {
    margin-right: auto;
}

.right-buttons {
    display: flex;
    gap: 10px;
}

.rounded-button {
    border: none;
    border-radius: 7px;
    padding: 8px 16px;
    background-color: #FFF;
    color: #FF6347;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.nav-title {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.nav-title:hover {
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .post {
    position: relative;
    width: 23%;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid black;
    
  }

  .post img {
    width: 100%;
    height: auto;
  }

  .post .post-content {
    position: absolute;
    bottom: 0;
    left: 0;
    
    color: white;
    padding: 10px;
    width: 100%;
    
  }

  .post h3, .post p {
    margin: 0;
  }

  .post::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    
    bottom: -2px;
    left: 0;
  }

.btc-address {
    color: #272626;
    font-weight: bold;
    font-size: 16px;
}
