/*Navbar*/
.navbar {
    background-color: #272626;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
body {
    font-family: Arial, sans-serif;
    background-color: #433F3F;
    margin: 0;
    padding: 20px;
}

.left-button {
    margin-right: auto;
}

.right-buttons {
    display: flex;
    gap: 10px;
}

.rounded-button {
    border: none;
    border-radius: 7px;
    padding: 8px 16px;
    background-color: #FFF;
    color: #FF6347;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.post-image {
    width: 100%;
    height: auto;
    max-width: 1600px;
    max-height: 900px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    min-width: 1600px;
    min-height: 900px;
}
.nav-title {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.nav-title:hover {
    text-decoration: none;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post {
    width: calc(25% - 20px); /* 4 posts par ligne */
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.post img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.post .caption {
    margin-top: 10px;
    font-weight: bold;
}
footer {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px 0;
}

.btc-address {
    color: #272626;
    font-weight: bold;
    font-size: 16px;
}
