/*Navbar*/
.navbar {
    background-color: #FF6347;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.left-button {
    margin-right: auto;
}

.right-buttons {
    display: flex;
    gap: 10px;
}

.rounded-button {
    border: none;
    border-radius: 7px;
    padding: 8px 16px;
    background-color: #FFF;
    color: #FF6347;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.nav-title {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.nav-title:hover {
    text-decoration: none;
}
/*Navbar*/