/*Navbar*/
.navbar {
    background-color: #FF6347;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.left-button {
    margin-right: auto;
}

.right-buttons {
    display: flex;
    gap: 10px;
}

.rounded-button {
    border: none;
    border-radius: 7px;
    padding: 8px 16px;
    background-color: #FFF;
    color: #FF6347;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.nav-title {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.nav-title:hover {
    text-decoration: none;
}
/*Navbar*/
form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
